.logo-wrapper {
  background-color: #f4f7fb;
  padding: 40px 0;
  text-align: center;
}

.logo-heading {
  font-size: 44px;
  color: #1d1d1d;
  margin-top: 60px;
}

.logo-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
 
}

.logo-track {
  display: inline-flex;
  animation: scrollLeft 40s linear infinite;
   margin-top: 80px;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  min-width: 150px;
  max-width: 150px;
  white-space: normal;
}

.logo-item img {
  height: 80px;   /* ya jitna chahiye utna */
  width: auto;    /* ya width: 80px; agar square chahiye */
  object-fit: contain; /* image ko distort hone se bachata hai */
  margin-bottom: 8px;
}

.logo-item p {
  font-size: 14px;
  color: #333;
  text-align: center;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
